*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    color: white;
    text-shadow: 2px 2px 0 black;
}

/* Header Styles */

header h1{
    background-color: tomato;
    border: 3px solid black;
    width: 30%;
    padding: 3px;
    text-align: center;
    letter-spacing: 0.1em;
    position: fixed;
    left: 32%;
    top: 5%;
}

/* Buttons */

#button_run{
    background-color: tomato;
    border: 3px solid black;
    width: 140px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 3px;
    transition: 0.3s;
    position: fixed;
    left: 55%;
    top: 70%;
}

#button_run:hover{
    background-color: red;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.2);
}

#reset_page{
    background-color: tomato;
    border: 3px solid black;
    width: 140px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 5px;
    transition: 0.3s;
    position: fixed;
    left: 5%;
    top: 20%;
}

#reset_page:hover{
    background-color: red;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.2);
}

#lucky_dip{
    background-color: tomato;
    border: 3px solid black;
    left: 20%;
    width: 200px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 5px;
    transition: 0.3s;
    position: fixed;
    left: 30%;
    top: 70%;
}

#lucky_dip:hover{
    background-color: red;
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.2);
}


/* Containers */

#grid_container{
    /*border: 1px solid white;*/
    width: calc(60px * 4);
    margin: 30px auto;
    left: 30% auto;
    position: fixed;
    left: 30%;
    top: 15%;
}

#my_numbers_container{
    /*border: 1px solid red;*/
    width: calc(60px * 10);
    margin: 30px auto;
    position: fixed;
    left: 45%;
    top: 45%;
}

#generated_numbers_container{
    /*border: 1px solid red;*/
    width: calc(60px * 10);
    margin: 30px auto;
    position: fixed;
    left: 45%;
    top: 25%;

}

/* Container Content */

.generated_numbers{
    background-color: yellow;
    border: black;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
    margin-left: 30px;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid black;
}

.my_numbers{
    background-color: tomato;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
    margin-left: 30px;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid black;
}

.my_grid{
    background-color: tomato;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
    border: 1px solid black;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

.grid_cursor{
    background-color: red;
}


/* Text Boxes */

#user_numbers{
    background-color: tomato;
    border: 3px solid black;
    left: 20%;
    width: 200px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 5px;
    transition: 0.3s;
    position: fixed;
    left: 45%;
    top: 40%;
}

#winning_draw{
    background-color: tomato;
    border: 3px solid black;
    left: 20%;
    width: 200px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 5px;
    transition: 0.3s;
    position: fixed;
    left: 45%;
    top: 20%;
}

