*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    color: white;
    text-shadow: 2px 2px 0 black;
}

header h1{
    background-color: rgb(255, 0, 0);
    border: 3px solid black;
    width: 30%;
    margin: 30px auto;
    padding: 3px;
    text-align: center;
    letter-spacing: 0.1em;
}

#grid_container{
    /*border: 1px solid white;*/
    width: calc(60px * 16);
    margin: 30px auto;
}

#generated_numbers_container{
    /*border: 1px solid red;*/
    width: calc(60px * 10);
    margin: 30px auto;
}

.generated_numbers{
    background-color: rgb(255, 255, 72);
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 1.3em;
    margin-left: 30px;
    text-align: center;
    color: #000;
    list-style-type: none;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid black;
}

#my_numbers_container{
    /*border: 1px solid red;*/
    width: calc(60px * 10);
    margin: 30px auto;
}

.my_numbers{
    background-color: red;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 1.3em;
    margin-left: 30px;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid black;
}

.my_grid{
    background-color: tomato;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 1.8em;
    border: 1px solid black;
    text-align: center;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

.grid_cursor{
    background-color: red;
}

#button_run{
    background-color: red;
    margin: 30px auto;
    border: 3px solid black;
    width: 140px;
    text-align: center;
    letter-spacing: 0.1em;
    padding: 3px;
    transition: 0.3s;
}

#button_run:hover{
    background-color: rgb(255, 70, 70);
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.2);
}
